body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container-descriptionp {
	display: flex;
	width: 95%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(270deg, #6e6e6e, #4b4b4b, #6e6e6e, #4b4b4b);
	animation: AnimationName 7s ease infinite;
	color: white;
	padding: 5%;
	border: 3px solid #f39c12;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 23px 0px rgba(243,156,18,1);
    -moz-box-shadow: 0px 0px 23px 0px rgba(243,156,18,1);
    box-shadow: 0px 0px 23px 0px rgba(243,156,18,1);
}

 .container-descriptionp .box {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


 }
* {
	font-family:'Courier New', Courier, monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

 .container-descriptionp .box h3 {
	border: 3px solid #f39c12;  

	font-size: 28px;
	margin-bottom: 20px;
	  color: white;
	  background-color: black;
	  padding: 10px;
	  border-radius: 15px;
	  line-height: 1;
	  text-align: center;
	  -webkit-box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
	  -moz-box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
	  box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
}

 .container-descriptionp .box p {
	display: flex;
	width: 100%;
	font-size: 20px;
	justify-content: left;
	font-weight: 700;
	margin-bottom: 20px;
	line-height: 1.2;
 }

 .container-descriptionp .box div img {
	width: 300px !important;
 }

 .container-descriptionp .box div {
	display: flex;
	justify-content: center;
	align-items: center;
 }

 .container-descriptionp .box div table {
	width: 100% !important;
 }

 .container-descriptionp .box ul {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
	font-size: 23px;
	padding: 20px;
	line-height: 1;
	width: 80%;
 }
 .container-descriptionp .box ul li {
    line-height: 30px;
    position: relative;
 }
 .container-descriptionp .box ul li::before {
    content: "•"; /* Símbolo personalizado */
    position: absolute;
    left: 10px; /* Ajusta la posición del punto */
    top: 0;

 }


 