body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container-descriptionp {
	display: flex;
	width: 90%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(270deg, #6e6e6e, #4b4b4b, #6e6e6e, #4b4b4b);
	color: white;
	padding: 5%;
	border-radius: 20px;
	box-shadow: 20px 20px 60px #a3a1a1, -20px -20px 60px #e1e1e1;
}

 .container-descriptionp .box {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


 }
* {
	font-family:'Courier New', Courier, monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

 .container-descriptionp .box h3 {
	max-width: 80%;
	font-size: 23px;
	margin-bottom: 18px;
	  color: white;
	  background-color: black;
	  padding: 10px;
	  border-radius: 15px;
	  line-height: 1;
	  text-align: center;
	  border: 1px solid #e1e1e1;
}

 .container-descriptionp .box p {
	display: flex;
	width: 100%;
	font-size: 15px;
	justify-content: left;
	font-weight: 700;
	margin-bottom: 20px;
	line-height: 1.2;
 }

 .container-descriptionp .box div img {
	width: 300px !important;
 }

 .container-descriptionp .box div {
	display: flex;
	justify-content: center;
	align-items: center;
 }

 .container-descriptionp .box div table {
	width: 100% !important;
 }

 .container-descriptionp .box ul {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
	font-size: 16px;
	padding: 20px;
	line-height: 1;
	width: 80%;
 }
 .container-descriptionp .box ul li {
    line-height: 30px;
    position: relative;
 }
 .container-descriptionp .box ul li::before {
    content: "•"; /* Símbolo personalizado */
    position: absolute;
    left: 10px; /* Ajusta la posición del punto */
    top: 0;

 }


 