/* -------------------- SECCION INICIO -----------------------*/

* {
	font-family:"Fira Sans", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}
/*Contenedor guia de taller*/

.container-guia-de-talles {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-guia-de-talles .box-talle {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 95%;
	background: linear-gradient(270deg, #6e6e6e, #4b4b4b, #6e6e6e, #4b4b4b);
	color: white;
	padding: 5%;
	border-radius: 20px;
	box-shadow: 20px 20px 60px #a3a1a1, -20px -20px 60px #e1e1e1;
}



/*titulos guida de talles*/
.container-guia-de-talles h3 {


	max-width: 80%;
	font-size: 23px;
	margin-bottom: 20px;
	  color: white;
	  background-color: black;
	  padding: 10px;
	  border-radius: 15px;
	  line-height: 1;
	  text-align: center;
	  border: 1px solid #e1e1e1;

}

/*las imagenes guia de talles*/
.container-guia-de-talles p img {
	width: 355px;
	height: 390px;
	margin-bottom: 20px;
}

/*musculosa hombre guia de talles*/
.container-guia-de-talles p .musculosa-hombre {
	transform: scale(.7);
}

/*musculosa hombre guia de talles*/
.container-guia-de-talles p .musculosa-ribb-midi {
	transform: scale(.85);
}

/*musculosa hombre guia de talles*/
.container-guia-de-talles p .musculosa-ribb-basic {
	transform: scale(.75);
}

.container-guia-de-talles p .buzo {
	transform: scale(1.1);
	margin: 63px 0 83px 0;
}

.container-guia-de-talles p .jogging {
	transform: scale(.8);
}


/*Imagen de musculosa guia de talles*/
.container-guia-de-talles p img.img-musculosa {
	transform: scale(300px,495px);
}

/*Cartel importante guia de talles*/
.container-guia-de-talles .important-texts {
	padding: 15px;
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
	align-items: center;
	border: 4px solid black;
	border-radius: 20px;
    box-shadow: 20px 20px 60px #a3a1a1, -20px -20px 60px #e1e1e1;
    color: white;
    background: black;


}

/*titulo de Cartel importante guia de talles*/
.container-guia-de-talles .important-texts h2 {
	text-align: center;
	margin-bottom: 10px;
	line-height: 1;
}

/*Puntos cartel guia de talles*/
.container-guia-de-talles .important-texts ul {
	list-style-type:armenian
}

/*Efecto boton Whatsapp*/
.btn-whatsapp:hover {
	
	background-color: #1fce5f;
	outline: 2px rgb(48, 48, 48) solid;
	transition: all .5s;
	-webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,1);
	box-shadow: 0px 0px 20px -2px rgba(0,0,0,1);

}

/*Banner porcentaje descuento productos*/
.label {
	padding: 7px;
	border-radius: 15px;
}

.label:hover {
opacity: .8s;
transition: all .4s ease-in;
}

/*Boton primario agregar carrito o comprar*/
.btn-primary {
	border-radius: 15px;

}

.btn-primary:hover {

	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	background-color: #ffbf58;	
	transition: all .5s ease-in;
	color: black;
}

.btn-primary.btn-primary:active {

	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	background-color: #ffbf58;	
	transition: all .5s ease-in;
	color: black;
}

/*Boton lupa buscar*/

.btn-desktop-search {
	border-radius: 50%;
}
.btn-desktop-search:hover {
	text-decoration: none;
	font-weight: 900;
	opacity: .6;
	transition: all .4s ease-in;
	color:#f39c12;
	border: 3px solid #f39c12;
	border-radius: 20px;
}
.btn-desktop-search:active {
	text-decoration: none;
	font-weight: 900;
	opacity: .6;
	transition: all .4s ease-in;
	color:#f39c12;
	border: 3px solid #f39c12;
	border-radius: 20px;
}

.theme-wide .searchbox form .btn-desktop-search:hover {
	fill: #f39c12;
	transform: translateY(0);
	transition: all .4s ease-in;
}

/* boton Carrito compras*/
.cart-summary {
	border-radius: 20px;

}
.cart-summary:hover {
	text-decoration: none;
	font-weight: 900;
	opacity: .6;
	transition: all .4s ease-in;
	color:#f39c12;
	border: 3px solid #f39c12;
	border-radius: 20px;

	
}
.cart-summary a .badge:hover {
	fill:#f39c12;
	transition: all .4s ease-in;
}
.theme-wide .cart-summary a:hover {
	fill:#f39c12;
	transition: all .4s ease-in;
}



/*carrito y badge numero*/
.cart-summary a svg,
.cart-summary a span {
	transform: translateX(-3px);
}

/* navbar */

/* .desktop-nav,
.desktop-nav-list {
    background: linear-gradient(270deg, #000000, #393939, #1e1e1e, #6e6e6e, #1e1e1e);
    background-size: 1000% 1000%;
    animation: AnimationName 17s ease infinite;
    padding: 17px 0px;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: 1px;
	text-decoration: none;

} */

.desktop-nav,
.desktop-nav-list {
border-radius: 10px;
background: linear-gradient(66deg, #1e1e1e, #2f2e2e, #1e1e1e, #2f2e2e, #1e1e1e);
box-shadow: 15px 15px 40px #8f8d8d, -15px -15px 40px #ccc;
			 padding: 14px 0px;
			 font-size: 10px;
			 font-weight: 600;
			 letter-spacing: 1px;
			 text-decoration: none;
}


.desktop-nav-item {
	background-color: transparent;
	outline-color: none;
}

/* .desktop-nav-link {
	color: white;
	border: 3px solid #f39c12;
	margin: 3px 0px;
} */

.desktop-nav-link {
	color: white;
	margin: 3px 0px;
}

.desktop-nav-link:hover {
	color: #f39c12;
	background-color: #a8a8a8;
	transition: all .4s ease;
	opacity: 1;
	
}

/* .desktop-nav>.selected>.desktop-nav-link {
    border-top: 3px solid #a8a8a8;

} */

.desktop-nav>.selected>.desktop-nav-link {
    border-top: none;
	text-decoration: none;

}

.js-desktop-nav.desktop-nav.hidden-phone.font-small .desktop-nav-item .desktop-nav-list {
	animation: aparecer .3s ease-in;
}

.desktop-nav-list {
	border: none;
	padding: 0;
}


.desktop-nav-list>.desktop-nav-item>.desktop-nav-link {
	margin: 0;
	border: 3px 3px 0px 3px;
	border-color: #f39c12;
	border-style: solid;
}

.breadcrumb a {
	font-size: 13px;
	padding: 5px;
}

.breadcrumb a:hover {
	text-decoration: none;
	font-weight: 900;
	opacity: .6;
	transition: all .4s ease-in;
	color:#f39c12;
	border: 3px solid #f39c12;
	border-radius: 20px;

}

.breadcrumb h1 {
	font-size: 14px;
}

.d-inline {

    font-size: medium;
}


.mobile-home-categories.horizontal-container.pills-container.container-fluid.visible-phone.text-left.m-bottom-half ul {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 10px;
	text-align: center;
	background: linear-gradient(66deg, #1e1e1e, #2f2e2e, #1e1e1e, #2f2e2e, #1e1e1e);
	box-shadow:  10px 10px 40px #8f8d8d, -10px -10px 40px #ccc;
	padding: 14px 0px;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 1px;
	text-decoration: none;
}

.mobile-home-categories.horizontal-container.pills-container.container-fluid.visible-phone.text-left.m-bottom-half ul li {
	font-size: 10px;
	border: none;

}
.mobile-home-categories.horizontal-container.pills-container.container-fluid.visible-phone.text-left.m-bottom-half ul li a {
	color: white;
	text-decoration: none;

}

.mobile-home-categories.horizontal-container.pills-container.container-fluid.visible-phone.text-left.m-bottom-half ul li:hover {


	opacity: .6;
	transition: all .4s ease-in;

}

.mobile-home-categories.horizontal-container.pills-container.container-fluid.visible-phone.text-left.m-bottom-half ul li a:hover{

	opacity: .6;
	color:#f39c12;
	transition: all .4s ease-in;
}



/* Carrousel */
.js-swiper-home-control.js-swiper-home-next.swiper-button-next.display-none.display-md-block.svg-icon-text,
.js-swiper-home-control.js-swiper-home-prev.swiper-button-prev.display-none.display-md-block.svg-icon-text {
	border-radius: 50px;
background: linear-gradient(145deg, #cc891d, #f39c12);
box-shadow:  2px 2px 5px #a0a0a0,
             -2px -2px 5px #e4e4e4;
}

.js-swiper-home-control.js-swiper-home-next.swiper-button-next.display-none.display-md-block.svg-icon-text:hover,
.js-swiper-home-control.js-swiper-home-prev.swiper-button-prev.display-none.display-md-block.svg-icon-text:hover {
	border-radius: 50px;
background: linear-gradient(145deg, #f0a225, #f1b047);
box-shadow:  2px 2px 10px #a0a0a0,
             -2px -2px 10px #e4e4e4;
transition: all .5s ease-in;
}





/*Descripcion del titulo*/
.subtitle-paragraph p {
	font-weight: 900;
	font-size: 17px;
}
.user-access a {
	padding: 5px;
}
/*Crear y logear botones*/
.user-access a:hover {
	text-decoration: none;
	font-weight: 900;
	opacity: .6;
	transition: all .4s ease-in;
	color:#f39c12;
	border: 3px solid #f39c12;
	border-radius: 20px;
}

/*Modulo servicio de envios y medios pagos*/

.services .span4:not(:last-child) {
	border-color: black;
	border-right: 3px solid black;
}
.service-item-container {
	background-color: #ccc;
    padding: 7px;
    border-radius: 20px;
    border: 3px solid black;
	height: inherit;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}
.js-mobile-services .swiper-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.js-mobile-services .swiper-wrapper .service-item-container {
	margin-top: 15px;
	margin-bottom: 20px;
	width: 95%;
	background-color: #ccc;
    padding: 7px;
    border-radius: 20px;
    border: 3px solid black;
	height: inherit;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}


/*Mdoificar botones Footer*/

.footer h4 {

	color: #f39c12;
	font-size: 18px;
	text-decoration: underline;
padding-bottom: 10px;
}

.footer ul a {
color: white;

}

.footer-icon {
fill: white;
}

.span2 .col-foot ul a, .span4 .col-footer ul a {
padding: 4px;
color: white;
}

.footer-icon, .footer a, .footer li {
color: #ffffff;
}

.span2 .col-foot ul a:hover,
.span4 .col-foot ul a:hover {
	text-decoration: none;
opacity: .6;
background-color: rgba(0, 0, 0, 0);
transition: all .4s ease-in;
color:#f39c12;
}

.span2 .col-foot a.footer-icon:hover {
outline: #f39c12 solid 3px;
-webkit-box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
-moz-box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
transition: all .4s ease-in;
}

.powerred-by-logo a {
display: none;
}

.uneditable-input:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, textarea:focus {
transition: all .4s ease-in;
border-color:#f39c12;
-webkit-box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
-moz-box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
}

.footer {
border-top: 3px #f39c12 solid;
border-bottom: 3px #f39c12 solid;
background: linear-gradient(270deg, #000000, #393939, #1e1e1e, #6e6e6e, #1e1e1e);
background-size: 1000% 1000%;
animation: AnimationName 17s ease infinite;
padding: 17px 10px;
font-size: 14px;
font-weight: 900;
letter-spacing: 1px;
text-decoration: none;
margin-bottom: 10px;
}




/**/


@media (max-width:600px) {

	/*Ajustes de pantalla titulos guia de talles*/
	.container-guia-de-talles h3 {
		font-size: 30px;

	}
	/*Icono carrito compra hover*/
	.cart-summary:hover {
		padding: 6px;
	}

	/*Ajuste subtitulo Bienvenidos a Bain*/
	.subtitle-container {
		margin-left: 3%;

	}
	.subtitle-container h2 {
		font-size: 30px;
		line-height: 1;
	}
}


/*Modulo servicio de envios y medios pagos*/
@media (min-width: 700px) AND (max-width: 979px) {
	.service-icon {
		transform: translateX(-3px)
	}
}

@media (min-width: 979px) AND (max-width: 1199px) {
	.service-item-container {

		height: 80px;
		
	}

	.service-item:first-child,
	.service-item:nth-child(2) {
		transform: translateY(3px);
	}

}


/* --------------------------- FIN SECCION INICIO ----------------------------- */

/* --------------------------- SECCION PRODUCTOS ------------------------------- */


/* Categorias */
.list-unstyled li a {
 	padding: 4px
}



/* Seleccion de filtros */

.filters-container .js-filter-checkbox .checkbox:hover {
	transition: all .4s ease-in;
	font-weight: 900;
	font-size: 14px;
	text-decoration: none;
}

/*Titulos de Filtros*/
.container-product-grid .visible-when-content-ready .p-bottom-double .hidden-phone h4 {

	font-size: 16px;
	color: white;
	background-color: black;
	padding: 8px;
	width: 112px;
	border-radius: 15px;
	line-height: 1;
	text-align: center;
	border-radius: 50px;
    box-shadow: 10px 10px 40px #bebebe, -10px -10px 40px #cfcdcd;

	box-shadow: 10px 10px 40px #bebebe, -10px -10px 40px #cfcdcd;
    border-radius: 10px
}

.container-product-grid .visible-when-content-ready .hidden-phone h4 {

	font-size: 16px;
	color: white;
	background-color: black;
	padding: 8px;
	border-radius: 15px;
	width: 112px;
	line-height: 1;
	text-align: center;
	box-shadow: 10px 10px 40px #bebebe, -10px -10px 40px #cfcdcd;


}

#filters-container #filters-column .filters-container h6 {

	font-size: 16px;
	color: white;
	width: 112px;
	background-color: black;
	padding: 8px;
	border-radius: 15px;
	line-height: 1;
	text-align: center;
	box-shadow: 10px 10px 40px #bebebe, -10px -10px 40px #cfcdcd;

}
#filters-container #filters-column .js-price-filter-container form .h6 {
 
	font-size: 16px;
	width: 112px;
	color: white;
	background-color: black;
	padding: 8px;
	border-radius: 15px;
	line-height: 1;
	text-align: center;
	box-shadow: 10px 10px 40px #bebebe, -10px -10px 40px #cfcdcd;

}

.list-unstyled li a:hover {
	text-decoration: none;
	font-weight: 900;
	font-size: 14px;
	opacity: .6;
	transition: all .4s ease-in;
	color:#f39c12;
}

.js-remove-all-filters {
	text-decoration: none;

}

.js-remove-all-filters:hover {

	font-weight: 900;
	font-size: 14px;
	opacity: .6;
	transition: all .4s ease-in;
	color:#f39c12;
}


/*Ajuste de titulos de filtros*/
@media (min-width: 850px) AND (max-width: 979px) {
	.container-product-grid .visible-when-content-ready .p-bottom-double .hidden-phone h4 {
		padding: 10px 7px;
    	width: 112px;
		transform: translateX(-18px);
	}
}

/* --------------------------- FIN SECCION PRODUCTOS ------------------------------- */

/* ------------------------------  SECCION ENVIOS Y PAGOS ------------------------------- */

.container-envios-y-pagos {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-envios-y-pagos .box {
	display: flex;
	width: 95%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(270deg, #6e6e6e, #4b4b4b, #6e6e6e, #4b4b4b);

	color: white;
	padding: 5%;
	border-radius: 20px;
	box-shadow: 20px 20px 60px #a3a1a1, -20px -20px 60px #e1e1e1;
}

/* titulos */
.container-envios-y-pagos .box h3 {


	font-size: 23px;
	margin-bottom: 20px;
	  color: white;
	  background-color: black;
	  padding: 10px;
	  border-radius: 15px;
	  line-height: 1;
	  text-align: center;
	  border: 1px solid #e1e1e1;
}

/*Descripcion del titulo */
.container-envios-y-pagos .box .texts-envios p {
	font-size: 16px;
	line-height: 1.2;
}
.container-envios-y-pagos .box .opciones-envio {
	
	font-size: 16px;
	padding: 15px;
    border-radius: 20px;
	line-height: 1;
	padding: 15px;
	width: 90%;
	border: 1px solid #e1e1e1;
	border-radius: 20px;
    color: white;
    background: black;
}

.container-envios-y-pagos .box .opciones-envio h4 {
	font-size: 25px;
	line-height: 1.2;
	margin-bottom: 20px;
	text-decoration:  3px black underline ;
}

.container-envios-y-pagos .box .opciones-envio ul {
	margin-top: 25px;

}

.container-envios-y-pagos .box .opciones-envio ul li {
	line-height: 30px;
}

.container-envios-y-pagos .box .correo-argentino {
	font-size: 24px;
	line-height: 1.2;
}

.container-envios-y-pagos .box .pagos {
	font-size: 23px;
	padding: 15px;
    border: 4px solid black;
    border-radius: 20px;

}

.container-envios-y-pagos .box .pagos {
	font-size: 16px;
	padding: 15px;
    border-radius: 20px;
	line-height: 1;
	padding: 15px;
	width: 90%;
	border-radius: 20px;
	border: 1px solid #e1e1e1;
    color: white;
    background: black;

}

.container-envios-y-pagos .box .pagos ul {

	font-size: 16px;
	line-height: 1.5;
}

.container-envios-y-pagos .box .pagos ul li {

	line-height: 30px;
}

/* ------------------------------ FIN SECCION ENVIOS Y PAGOS ------------------------------- */

/* ------------------------------  SECCION DEVOLUCIONES Y CAMBIOS ------------------------------- */

.container-devoluciones-y-cambios {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.container-devoluciones-y-cambios .box {
	display: flex;
	width: 95%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(270deg, #6e6e6e, #4b4b4b, #6e6e6e, #4b4b4b);
	color: white;
	padding: 5%;
	border-radius: 20px;
	box-shadow: 20px 20px 60px #a3a1a1, -20px -20px 60px #e1e1e1;
}

.container-devoluciones-y-cambios .box h3 {
	border: 1px solid #e1e1e1; 
	max-width: 80%;
	font-size: 23px;
	margin-bottom: 20px;
	  color: white;
	  background-color: black;
	  padding: 10px;
	  border-radius: 15px;
	  line-height: 1;
	  text-align: center;

}

.container-devoluciones-y-cambios .box ul {
	margin-top: 35px;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.container-devoluciones-y-cambios .box ul li {
    margin-bottom: 100px;
    border-radius: 20px;
    transform: translate(-10px, 57px);
	font-size: 18px;
	padding: 15px;
    border-radius: 20px;
	line-height: 1;
	padding: 15px;
	width: 90%;
	border-radius: 20px;
	border: 1px solid #e1e1e1; 
    color: white;
    background: black;
	text-align: center;

}

/* ------------------------------ FIN SECCION DEVOLUCIONES Y CAMBIOS ------------------------------- */

/* ------------------------------  SECCION CONTACTO ------------------------------- */
.contact .span6 .info ul li a {
	text-decoration: none;
	width: 100%;
	font-size: 18px;

}

.contact .span6 .info ul li a:hover {
	font-weight: 900;
	font-size: 20px;
	opacity: .6;
	transition: all .4s ease-in;
	color:#f39c12;
}

.contact_form .form_group input:focus {
    transition: all .4s ease-in;
    border-color: #f39c12;
    box-shadow: 0px 0px 15px 8px rgba(243, 156, 18, 1);

}

.contact .span6 .m-bottom {
    margin-bottom: 20px !important;
    display: flex;
    flex-direction: column;
	justify-content: left;
	margin-left: 15px;

}



ul.list-style-none li {
	display: flex;
	font-size: 18px;
    width: 300px;

}

.span6.list-style-none:nth-child(2) {
	background-color: #1fce5f;
	margin-left: 0;
}
/* ------------------------------ FIN SECCION CONTACTO ------------------------------- */

/* ------------------------------  SECCION DESCRIPCION ------------------------------- */
 .container-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }

 .container-description h3 {
	font-size: 30px;
	color: white;
	background-color: black;
	padding: 15px;
	border-radius: 15px;
	line-height: 1;
	text-align: center;
	box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, .75);
	margin: 10px 0px;
}

 .container-description p {
	display: flex;
	width: 100%;
	font-size: 20px;
	justify-content: left;
	font-weight: 700;
	margin-bottom: 20px;
 }

 .container-description ul li {
	font-size: 20px;
	justify-content: left;
	font-weight: 700;

 }



/* ------------------------------ FIN SECCION DESCRIPCION ------------------------------- */



/*-------------------------------------------------------------------------------------------------*/



/*------------------------------ VERSION MOBILE -------------------------------*/

/*------------------------------ HOME -------------------------------*/

/*Boton Burguer */
.mobile-nav-first-row-icon {
	font-size: 12px;
	color: white;
	font-weight: 900;
	background-color: #000;
	border: solid 2px #ccc;
	border-radius: 15px;
	margin-left: 8px;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .75);
}

/*Desplegar menu*/

.new-modal {
	transition: .5s cubic-bezier(.16,.68,.43,.99);
}

.theme-wide .mobile-nav-first-row-icon svg {
	background: white;
	padding: 2px;
	border-radius: 5px;
	margin-bottom: 0px;
}


/* Barra de Menu */

.hamburger-panel {

	border-radius: 10px;
	background: linear-gradient(66deg, #1e1e1e, #2f2e2e, #1e1e1e, #2f2e2e, #1e1e1e);
	box-shadow: 15px 15px 40px #8f8d8d, -15px -15px 40px #ccc;
	padding: 14px 0px;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 1px;
	text-decoration: none;

}
.hamburger-panel {
	fill: white;
}

.hamburger-panel-link {

    color: #fff;
	font-weight: 900;

}
.hamburger-panel .hamburger-panel-arrow-icon {
    fill: #ffffff;
}

.list-items li {

	border: none;
    text-decoration: none;
}

.hamburger-panel .list-items .hamburger-panel-link {
	font-weight: 900;
}

.btn-hamburger-close-icon {
    fill: #ffffff;
    transform: scale(1.3) translate(-19px, -3px);
    z-index: 9999;
    position: fixed;
}

.item-with-subitems.p-relative .js-pages-accordion.list-subitems.hamburger-panel-accordion {
	background: linear-gradient(66deg, #a9a9a9, #777777, #7c7c7c, #616060, #4d4944);
	
	}

/*Menu Crear cuenta | Iniciar sesion*/

.user-badge {

	box-shadow: 15px 15px 40px #8f8d8d, -15px -15px 40px #ccc;
	border: 1px solid #000;
	border-radius: 15px;
}

.mobile-accounts-item {
	font-weight: 900;
}

.hamburger-panel .mobile-accounts {
    background-color: #fff;
    border-top: 4px solid #ccc;
}


@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/*Card de  productos*/


.item-image-container:hover {

		border-radius: 10px;
	background: #e0e0e0;
	box-shadow:  15px 15px 40px #bebebe,
				 -15px -15px 40px #ffffff;
	margin-bottom: 25px;
	

}

.theme-wide .item-name {
	font-size: 17px;
	line-height: 15px;
	font-family: system-ui;
	font-weight: 700;
	text-decoration: none;
	margin-top: 15px;
}

.theme-wide .item-price-compare {
	font-size: 15px;
}

.theme-wide .item-price {
	font-size: 16px;
	font-weight: 700;
}

.variation_1 .row-fluid .js-insta-variant.btn-variant.insta-variations.selected  {
	border: 4px black solid;
	border-radius: 5%;
	-webkit-box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
	-moz-box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
	box-shadow: 0px 0px 10px 6px rgba(243,156,18,1);
	transition: all .4s ease-in;
}

.variation_2 .row-fluid .js-insta-variant.btn-variant.insta-variations.selected  {
	border: 4px black solid;
	border-radius: 5%;
	background-color: rgb(211, 130, 1);
	-webkit-box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
	-moz-box-shadow: 0px 0px 15px 8px rgba(243,156,18,1);
	box-shadow: 0px 0px 10px 6px rgba(243,156,18,1);
	transition: all .4s ease-in;
}

.title.m-top-xs.full-width .product-name.h2.h4-xs {
	font-family: inherit;
	font-weight: 800;
	font-size: 30px;
}

.js-insta-variant.btn-variant.btn-variant-custom.insta-variations.insta-variations_btn-custom .btn-variant-content {
	font-weight: 800;
}

.js-shipping-calculator-form.shipping-calculator-form.full-width.transition-up.p-absolute.transition-up-active .js-calculate-shipping.btn-shipping.btn.btn-secondary.btn-small.calculate-shipping-button.d-inline-block {

	background-color:rgba(243,156,18,1);
	color: rgb(255, 255, 255);
}

.js-shipping-calculator-form.shipping-calculator-form.full-width.transition-up.p-absolute.transition-up-active .js-calculate-shipping.btn-shipping.btn.btn-secondary.btn-small.calculate-shipping-button.d-inline-block:hover {

	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	background-color: #ffbf58;	
	transition: all .5s ease-in;
	color: black;
}






@keyframes aparecer {
    
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
